@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

body {
    font-family: Arial, sans-serif;
    background-image: url('bg.jpg');
    background-position: center;
    background-size: cover;
    overflow: none;
    margin: 0;
    width: auto;
    margin: 0;
    padding: 0;
}

header {
    background: transparent;
    color: #fff;
    padding: 10px;
    height:90px;
    display: flex;
    flex-direction: row;
    margin: 0;
}

#logo{

    height: 70px;
    width: 70px;
    border-radius: 50%;
    padding: 10px;

    transition: box-shadow 0.15s;
    margin-bottom: 0;
}
#logo:hover{
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.15);
}

.logo{

    width: 550px;
    display: flex;
    display: inline-block;
    vertical-align:middle;
}

.search-box{

    vertical-align: top;
    display: flex;
    flex:1;
    margin-top: 30px;

}

.search-bar{
    flex:1;
    height: 30px;
    border-radius: 5px;
    border-color: white;
    border-style: solid;

}

.searchbar-button{
    background-color: #FB8500;
    color: rgb(255, 255, 255);
    border-radius: 5px;
    border-color:#FB8500 ;
    border-style: solid;
    height: 36px;
    transition: opacity 0.15s;
}
.searchbar-button:active{
    opacity: 0.5;
}

.buttons{
    display: inline-block;
    width: 300px;
    vertical-align: top;
    margin-top: 30px;
    margin-left: 30px;
    font-family: Arial;
    font-weight: bold;

}


.offers{
    height: 36px;
    width: 70px;
    margin-right: 5px;
    background-color: white;
    color: #FB8500;
    border-color: white;
    border-style: solid;
    border-radius: 5px;
    transition: transform 0.2s,box-shadow 0.2s,opacity 0.2s;

}

.offers:hover{
    transform: scale(1.15);
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.15);
}
.offers:active{
    opacity: 0.5;
}


.orders{
    background-color: white;
    color: #FB8500;
    margin-right: 5px;
    border-color: white;
    border-style: solid;
    border-radius: 5px;
    height: 36px;
    width: 70px;
    transition: transform 0.2s,box-shadow 0.2s,opacity 0.2s;
}
.orders:active{
    opacity: 0.5;
}

.orders:hover{
    transform: scale(1.15);
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.15);
}

.user{
    background-color: white;
    color: #FB8500;
    border-color: white;
    border-style: solid;
    margin-right: 5px;
    border-radius: 5px;
    height: 36px;
    width: 70px;
    transition: transform 0.2s,box-shadow 0.2s,opacity 0.2S;

}
.user:hover{
    transform: scale(1.15);
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.15);
}

.user:active{
    opacity: 0.5;
}


.more{
    background-color: white;
    color: #FB8500;
    border-color: white;
    border-style: solid;
    border-radius: 5px;
    height: 36px;
    width: 50px;
    transition: transform 0.2s,box-shadow 0.2s,opacity 0.2s;
}


.more:hover{
    transform: scale(1.15);
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.15);
}
.more:active{
  opacity: 0.5;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

.hero {
    /* background-image: url('hero.jpg');
    background-size: cover;
    background-position: center; */
    color: #fff;
    text-align: center;
    height: auto;
    /* padding: 100px 0; */
}

.hero h2 {
    font-family: "Anton", sans-serif;
    font-size: 64px;
    padding: 0;
    margin-top: 20px;
    margin-bottom: 10px;
    /* font-weight: 700; */
    color: #FDF0D5;
}

.hero p {
    font-family: cursive;
    font-size: 24px;
    color: #e8eddf;
    margin-top: 5px;
    margin-bottom: 40px;
}

.order-now{
    padding: 20px 50px;
    background-color: #FB8500;
    border-radius: 30px;
    border-color: #FB8500;
    border-style: solid;
    color: #FDF0D5;
    font-size: large;
    font-weight: 800;
    text-transform: uppercase;
    transition: color 0.15s, background-color 0.15s, border-color 0.15s, box-shadow  0.15s, transform 0.15s;
    
}

.order-now:hover{
    color: #FB8500;
    background-color:#FDF0D5;
    border-color: #FDF0D5;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.3);
}
.order-now:active{
    transform:scale(.95);
}


.featured {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 100px;
    margin-bottom: 50px;
    
}

.featured h2{
    margin-right: 50px;
}

.card {
    width: 300px;
    border: 1px solid #ccc;
    background-color: #fff;
    border-radius: 5px;
    padding: 10px;
    /* margin: 10px; */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.5s;
}

.card:hover{
    transform: scale(1.1);

}

.card figure{
    width: auto;
    height: 200px;
    object-fit: contain;
}
.card img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

.card h3 {
    color: #e28413;
    font-weight: 800;
    text-transform: uppercase;
    text-align: center;
    margin-top: 10px;
    font-size: 24px;
}

.card p {
    text-align: center;
    font-size: 16px;
    color: #000022;
    font-weight: 600;
}
.card a{
    text-align: center;
    font-size: 16px;
    color: #000022;
    font-weight: 600;
}



footer {
    background-color: #023047;
    color: #fff;
    text-align: center;
    padding: 20px;
    bottom: 0;
    /* width: 100%; */
}